<section class="content">
    <div class="content-block">
      <div class="block-header" *ngFor="let breadscrum of breadscrums">
        <!-- breadcrumb -->
        <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
        </app-breadcrumb>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="width: 86%;margin: auto;">
          <div class="card">
            <div class="materialTableHeader">
              <!-- <div class="left">
                <ul class="header-buttons-left ms-0">
                  <li class="tbl-title">
                    <h2>Exam Schedule</h2>
                  </li>
                  <li class="tbl-search-box">
                    <label for="search-input"><i class="material-icons search-icon">search</i></label>
                    <input placeholder="Search" type="text" #filter class="browser-default search-field"
                      aria-label="Search box">
                  </li>
                  
                </ul>
              </div> -->
              <div class="right">
                <ul class="tbl-export-btn">
                  <li>
                    <ul class="header-buttons-left ms-0">
                      <li class="tbl-search-box">
                        <label for="search-input"><i class="material-icons search-icon">search</i></label>
                        <input placeholder="Search" type="text" #filter class="browser-default search-field"
                          aria-label="Search box">
                      </li>
                      
                    </ul>
                  </li>
                  <li class="tbl-header-btn">
                    <div class="m-l-10" matTooltip="ADD">
                      <button mat-raised-button [routerLink]="['/timetable/course-exam-add']"
                      id="submit">Create</button>
                      <!-- <button mat-mini-fab color="primary" [routerLink]="['/timetable/course-exam-add']">
                        <mat-icon class="col-white">add</mat-icon>
                      </button> -->
                    </div>
                  </li>
                  
                  
                 
                  
                </ul>
              </div>
            </div>
            <div class="body overflow-auto">
              <div class="responsive_table">
                <table mat-table [dataSource]="dataSource" matSort class="mat-cell advance-table">
                  <!-- ID Column -->
                  <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
                    <mat-cell *matCellDef="let row" [routerLink]="['/timetable/view-course-exam-schedule',row.id]">{{row.id}}</mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="courseName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Course
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row" class="name" [routerLink]="['/timetable/view-course-exam-schedule',row.id]"><span class="mobile-label">Subject:</span> {{row.courseName}}</mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="course Code">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Course Code</mat-header-cell>
                    <mat-cell *matCellDef="let row" [routerLink]="['/timetable/view-course-exam-schedule',row.id]"> <span class="mobile-label">Course Code:</span>{{row.courseCode}}</mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="start Date">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Start Date</mat-header-cell>
                    <mat-cell *matCellDef="let row" [routerLink]="['/timetable/view-course-exam-schedule',row.id]"> <span class="mobile-label">Start
                        Date:</span>{{row.startDate | date }}
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="end Date">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>End Date</mat-header-cell>
                    <mat-cell *matCellDef="let row" [routerLink]="['/timetable/view-course-exam-schedule',row.id]"> <span class="mobile-label">End 
                        Date:</span>{{row.endDate | date }}
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="time">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Time</mat-header-cell>
                    <mat-cell *matCellDef="let row" [routerLink]="['/timetable/view-course-exam-schedule',row.id]"><span class="mobile-label">Time:</span> {{row.startTime }}
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="duration">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Duration</mat-header-cell>
                    <mat-cell *matCellDef="let row" [routerLink]="['/timetable/view-course-exam-schedule',row.id]"><span class="mobile-label">Duration:</span> {{row.duration}}
                    </mat-cell>
                  </ng-container>
                  <!-- <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef class="pr-0">Actions</mat-header-cell>
                    <mat-cell *matCellDef="let row" class="pr-0">
                      <button mat-button [matMenuTriggerFor]="menu">
                        <svg class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"
                          xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                          class="bi bi-three-dots rounded-circle" viewBox="0 0 16 16">
                          <path
                            d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z" />
                        </svg>
                      </button>
                      <mat-menu #menu="matMenu" xPosition="before">
                        
                        <button mat-menu-item (click)="editCall(row)">
                          <app-feather-icons [icon]="'edit'" [class]="'tbl-fav-edit'"></app-feather-icons>
                          <span class="menu-text">Edit</span>
                        </button>
                        <button mat-menu-item (click)="delete(row)">
                          <app-feather-icons [icon]="'trash-2'" [class]="'tbl-fav-delete'"></app-feather-icons>
                          <span class="menu-text">Delete</span>
                        </button>
                      </mat-menu>
                    </mat-cell>
                  </ng-container> -->
                  
                  <!-- <ng-container matColumnDef="roomNo">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Room No
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row" class="column-nowrap"> <span class="mobile-label">Room
                        No:</span>{{row.roomNo}}</mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="totalMarks">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Total Marks</mat-header-cell>
                    <mat-cell *matCellDef="let row"> <span class="mobile-label">Total Marks:</span>{{row.totalMarks}}
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="reqMarks">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Require Marks</mat-header-cell>
                    <mat-cell *matCellDef="let row"><span class="mobile-label">Require Marks:</span> {{row.reqMarks}}
                    </mat-cell>
                  </ng-container> -->
                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <!-- <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row> -->
                  <mat-row *matRowDef="let row; columns: displayedColumns;" [style.cursor]="'pointer'" matRipple>
                  </mat-row>
                </table>
                <!-- Loading spinner -->
                <div *ngIf="exampleDatabase?.isTblLoading" class="tbl-spinner">
                  <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
                  </mat-progress-spinner>
                </div>
                <div *ngIf="!exampleDatabase?.isTblLoading" class="no-results"
                  [style.display]="dataSource.renderedData.length === 0 ? '' : 'none'">
                  No results
                </div>
                <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="10"
                  [pageSizeOptions]="[5, 10, 25, 100]">
                </mat-paginator>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  