<section class="content">
    <div class="content-block">
      <div class="block-header" *ngFor="let breadscrum of breadscrums">
        <!-- breadcrumb -->
        <app-breadcrumb
          [title]="breadscrum.title"
          [items]="breadscrum.items"
          [active_item]="breadscrum.active"
        >
        </app-breadcrumb>
      </div>
      <div class="row clearfix">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="card">
            <!-- <div class="header">
              <h2>{{coursesUrl?'Courses Feedback':'Programs Feedback'}}</h2>
            </div> -->
            <div class="body">
              <form [formGroup]="feedbackForm">
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2" *ngIf="coursesUrl">
                  <label>Course Name</label>
                  <mat-form-field
                    class="example-full-width mb-3"
                    appearance="outline">
                    <mat-select formControlName="courseName" >
                      <mat-option [value]="course?.courseId?.title" *ngFor="let course of studentApprovedCourses">{{ course?.courseId?.title }} </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2" *ngIf="programsUrl">
                  <label>Program Name</label>
                  <mat-form-field
                    class="example-full-width mb-3"
                    appearance="outline">
                    <mat-select formControlName="courseName">
                      <mat-option [value]="program?.programId?.title" *ngFor="let program of studentApprovedPrograms">{{ program?.programId?.title }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <!-- <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <label>User Type<span class="mandatory">&nbsp;*</span></label>
  
                  <mat-form-field
                    class="example-full-width mb-3"
                    appearance="outline"
                  >
                    <mat-select  required>
                      <mat-option [value]="type.id" *ngFor="let type of data">{{ type?.typeName | titlecase }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div> -->
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                  <div class="card">
                    <div class="header">
                      <h2>1.The {{coursesUrl?'Course':'Program'}} objectives were clear</h2>
                    </div>
                    <div class="body">
                      <mat-radio-group formControlName ="question1"
                        aria-labelledby="example-radio-group-label"
                        class="example-radio-group"
  
                      >
                        <mat-radio-button
                          class="example-radio-button ms-0"
                          *ngFor="let season of course"
                          [value]="season"
                        >
                          {{ season }}
                        </mat-radio-button>
                      </mat-radio-group>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                  <div class="card">
                    <div class="header">
                      <h2>
                        2.The Assignments were appropriate for the level of this
                        {{coursesUrl?'course':'program'}}
                      </h2>
                    </div>
                    <div class="body">
                      <mat-radio-group
                        aria-labelledby="example-radio-group-label"
                        class="example-radio-group" formControlName ="question2"
  
                      >
                        <mat-radio-button
                          class="example-radio-button ms-0"
                          *ngFor="let season of levelofcourse"
                          [value]="season"
                        >
                          {{ season }}
                        </mat-radio-button>
                      </mat-radio-group>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                  <div class="card">
                    <div class="header">
                      <h2>3.The {{coursesUrl?'course':'program'}} corresponded to my expectations</h2>
                    </div>
                    <div class="body">
                      <mat-radio-group formControlName ="question3"
                        aria-labelledby="example-radio-group-label"
                        class="example-radio-group"
                      >
                        <mat-radio-button
                          class="example-radio-button ms-0"
                          *ngFor="let season of expectations"
                          [value]="season"
                        >
                          {{ season }}
                        </mat-radio-button>
                      </mat-radio-group>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                  <div class="card">
                    <div class="header">
                      <h2>
                        4.The Instructor demonstrated knowledge of the subject
                        matter
                      </h2>
                    </div>
                    <div class="body">
                      <mat-radio-group formControlName ="question4"
                        aria-labelledby="example-radio-group-label"
                        class="example-radio-group"
                      >
                        <mat-radio-button
                          class="example-radio-button ms-0"
                          *ngFor="let season of subject"
                          [value]="season"
                        >
                          {{ season }}
                        </mat-radio-button>
                      </mat-radio-group>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card p-4">
                <div class="header">
                  <h2>Which is your overall satisfaction with the {{coursesUrl?'course':'program'}}?</h2>
                  </div>
                  <div class="body mt-2">
                    <ngb-rating [max]="5" [(rate)]="question6"></ngb-rating>
                  </div>
              </div>
              <div class="card p-3">
                <div class="header">
                  <h2>How likely is that you would recommend this {{coursesUrl?'course':'program'}} to another student?</h2>
                  </div>
                  <div class="body">
                    <div
              class=" mt-4"
              *ngFor="let cunts of countNumber; let i = index"
              style="display: inline; padding: 15px"
              [ngClass]="selected ? 'disabled' : ''"
            >
              <span
                class="shadow border number rounded-circle px-3 py-2"
                (click)="setRow(i)"
                [ngClass]="{ highlight: selectedIndex == i }"
              >
                {{ cunts }}</span
              >
            </div>
            <div class="mt-4">
              <span style="color: #afaaaa">0- less likely at all</span>
              <span style="color: #afaaaa">10- very likely </span>
            </div>
                  </div>
  
              </div>
              <div class="card">
                <div class="header">
                  <h2>Please provide any comments or suggestions that might help improve this {{coursesUrl?'course':'program'}} in the future!</h2></div>
                <div class="body">
                  <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                      <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <textarea matInput formControlName="question7" ></textarea>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
  
              <div class="row mt-4">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <button
                  class="btn-space"
                  mat-raised-button
                  color="primary" (click)="submit()">
                  Submit
                </button>
                  <!-- <button
                    type="button"
                    mat-raised-button
                    color="warn"
                    [routerLink]="['/admin/survey/survey-list']"
                  >
                    Cancel
                  </button> -->
                </div>
              </div>
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  