.table-container{
    padding: 10px;
    padding-left: 20px !important;
}


.name-container {
    padding: 10px;
}
.test {
    margin-top: 25px;
}

label{
    font-size: 20px;
    font-weight: 500;
}

.mandatory{
    color: red;
}
