svg {
    position: absolute;
    fill: #000;
    background-color: #d3cdcd;
    margin-top: -15px;
    margin-left: -15px;
    border-radius: 10px;
    padding-left: 3px;
    padding-right: 3px;
}
#issued{
    border-radius: 10px;
    padding: 5px 13px 5px 11px;
  }
  #submit {
   
    background: #6777ef;
    border: none;
    width: fit-content;
    padding: 5px 13px 5px 13px;
    // height: 20px;
    border-radius: 10px;
    color: #FFF;
    font-weight: 500;
  }
