svg {
    position: absolute;
    fill: #000;
    background-color: #d3cdcd;
    margin-top: -15px;
    margin-left: -15px;
    border-radius: 10px;
    padding-left: 3px;
    padding-right: 3px;
}
#issued{
  width: 126px;
  padding: 8px 3px 4px 9px;

  }
  #submit {
    width: 140px;
    padding: 5px 13px 5px 13px;
    
  }
  .mat-column-actions {
    width: 450px;
}
.center-cell {
  display: flex;
  align-items: center;
}

.center-icon {
  margin: auto; 
}