
        <div class="row mt-5">
            <div class="col-lg-3 col-md-3 col-sm-12">
              <div class="card card-statistic-2">
                <div class="clearfix">
                  <div class="card-icon-only shadow-primary float-start">
                    <img src="assets/images/banner/Actual.png" alt="">
                  </div>
                  <div class="card-right part">
                    <div>
                      <h5 class="float-end">Training Cost<br> (Actual)</h5>
                    </div>
                    <div class="col-green">
                      <h3 class="font-weight-bold float-end mb-0">$ 93,183</h3>
                    </div>
                  </div>
                </div>
                <div class="card-content msl-4 mb-3">
                  <p class="m-b-0 d-flex"> 12% Higher Than Yesterday
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
              <div class="card card-statistic-2">
                <div class="clearfix">
                  <div class="card-icon-only shadow-primary float-start">
                    <img src="assets/images/banner/Budget.png" alt="" >
                  </div>
                  <div class="card-right part">
                    <div>
                      <h5 class="float-end">Training Cost<br> (Budget)</h5>
                    </div>
                    <div class="col-green">
                      <h3 class="font-weight-bold float-end mb-0">$ 95,337</h3>
                    </div>
                  </div>
                </div>
                <div class="card-content msl-4 mb-3">
                  <p class="m-b-0 d-flex"> 20.7% vs Last Period
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
              <div class="card card-statistic-2">
                <div class="clearfix">
                  <div class="card-icon-only shadow-primary float-start">
                    <img src="assets/images/banner/Participant.png" alt="">
                  </div>
                  <div class="card-right part">
                    <div>
                      <h5 class="float-end">Cost Per <br> Participant </h5>
                    </div>
                    <div class="col-green">
                      <h3 class="font-weight-bold float-end mb-0">$ 316</h3>
                    </div>
                  </div>
                </div>
                <div class="card-content msl-4 mb-3">
                  <p class="m-b-0 d-flex"> 10.5 vs Last Period
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
              <div class="card card-statistic-2">
                <div class="clearfix">
                  <div class="card-icon-only shadow-primary float-start">
                    <img src="assets/images/banner/Clock.png" alt="">
                  </div>
                  <div class="card-right part">
                    <div>
                      <h5 class="float-end">Cost Per <br> Hour</h5>
                    </div>
                    <div class="col-green">
                      <h3 class="font-weight-bold float-end mb-0">$ 52</h3>
                    </div>
                  </div>
                </div>
                <div class="card-content msl-4 mb-3">
                  <p class="m-b-0 d-flex"> 20.7% vs Last Period
                  </p>
                </div>
              </div>
            </div>
            
          </div>
        
        
        <!-- #END# Widgets -->
        <div class="row clearfix">
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                <div class="plain-card training">
                    <div class="card-inner">
                        <h6 class="tx-primary m-b-15">Total Completed Training</h6>
                        <h3 class="text-center month">45</h3>
                        <div class="row month">
                            <div class="col-lg-9">
                                <p> vs Last month</p>
                            </div>
                            <div class="col-lg-2">
                                <p>10%</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="plain-card training mt-4">
                    <div class="card-inner">
                        <h6 class="tx-primary m-b-15">Total Participants</h6>
                        <h4 class="text-center month">316</h4>
                        <div class="row month">
                            <div class="col-lg-9">
                                <p> vs Last period</p>
                            </div>
                            <div class="col-lg-2">
                                <p>13.3%</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                <div class="plain-card training">
                    <div class="card-inner">
                        <h6 class="tx-primary m-b-15">Total Hours of Training</h6>
                        <h4 class="text-center month">86,942</h4>
                        <div class="row month">
                            <div class="col-lg-9">
                                <p> vs Last month</p>
                            </div>
                            <div class="col-lg-2">
                                <p>1.5%</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="plain-card training mt-4">
                    <div class="card-inner">
                        <h6 class="tx-primary m-b-15">Occupancy Rate</h6>
                        <h4 class="text-center month">93%</h4>
                        <div class="row month">
                            <div class="col-lg-9">
                                <p> vs Last month</p>
                            </div>
                            <div class="col-lg-2">
                                <p>0.3%</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <!-- GAUGE CHART -->
                <div class="card">
                    <div class="header ">
                        <div class="d-flex justify-content-between w-100 ">
                            <h2>Over-all Training Budget</h2>
                            <select class="form-select w-25" aria-label="Default select example">
                                <option selected>2023</option>
                                <option value="1">2022</option>
                                <option value="2">2021</option>
                                <option value="3">2020</option>
                            </select>
                        </div>
                    </div>
                    <div class="body">
                        <ngx-gauge [value]="gaugeValue" [size]="350" [thick]="20" [type]="guageType1"
                            class="guage-chart-center">
                            <ngx-gauge-value>
                                {{gaugeValue}} %
                            </ngx-gauge-value>
                        </ngx-gauge>
                    </div>

                </div>
            <!-- BAR-CHART -->
            <!-- <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <div class="d-flex justify-content-between w-100 ">
                            <h2>Total Hours of Training</h2>
                            <select class="form-select w-25" aria-label="Default select example">
                                <option selected>2023</option>
                                <option value="1">2022</option>
                                <option value="2">2021</option>
                                <option value="3">2020</option>
                            </select>
                        </div>
                    </div>
                    <div class="body">
                        <apx-chart [series]="barChartOptions.series!" [chart]="barChartOptions.chart!"
                            [dataLabels]="barChartOptions.dataLabels!" [plotOptions]="barChartOptions.plotOptions!"
                            [grid]="barChartOptions.grid!" [yaxis]="barChartOptions.yaxis!"
                            [xaxis]="barChartOptions.xaxis!" [fill]="barChartOptions.fill!">
                        </apx-chart>
                    </div>
                </div>
            </div> -->
            <!-- END BAR-CHART -->
        </div>

                <!-- END GAUGE-CHART -->
            </div>
            <!-- PROGRESS-CHART -->
            <div class="row clearfix">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <div class="d-flex justify-content-between w-100 ">
                            <h2>Training by Functionality</h2>
                            <select class="form-select w-25" aria-label="Default select example">
                                <option selected>2023</option>
                                <option value="1">2022</option>
                                <option value="2">2021</option>
                                <option value="3">2020</option>
                            </select>
                        </div>
                    </div>
                    <div class="tableBody">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th>Assets</th>
                                        <th>Overall by 100</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Sales</td>
                                        <td><mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
                                        </td>
                                        <td>40%</td>
                                    </tr>
                                    <tr>
                                        <td>Finance</td>
                                        <td><mat-progress-bar mode="determinate" value="20"
                                                color="accent"></mat-progress-bar>
                                        </td>
                                        <td>20%</td>
                                    </tr>
                                    <tr>
                                        <td>HR</td>
                                        <td><mat-progress-bar mode="determinate" value="35"></mat-progress-bar>
                                        </td>
                                        <td>35%</td>
                                    </tr>
                                    <tr>
                                        <td>Development</td>
                                        <td><mat-progress-bar mode="determinate" value="12"
                                                color="warn"></mat-progress-bar>
                                        </td>
                                        <td>12%</td>
                                    </tr>
                                    <tr>
                                        <td>Others</td>
                                        <td><mat-progress-bar mode="determinate" value="80"></mat-progress-bar>
                                        </td>
                                        <td>80%</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END PROGRESS-CHART -->

        <!-- </div> -->
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <div class="d-flex justify-content-between w-100 ">
                        <h2>Actual Cost or Budget</h2>
                        <select class="form-select w-25" aria-label="Default select example">
                            <option selected>2023</option>
                            <option value="1">2022</option>
                            <option value="2">2021</option>
                            <option value="3">2020</option>
                        </select>
                    </div>
                </div>
                <div class="body" style="height: 273px;">
                    <ngx-gauge [value]="gaugeValue" [size]="250" [thick]="20" [type]="guageType1"
                        class="guage-chart-center">
                        <ngx-gauge-value>
                            {{gaugeValue}} %
                        </ngx-gauge-value>
                    </ngx-gauge>
                </div>

            </div>
        </div>
    </div>
        <!-- <div class="row clearfix">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header ">
                        <div class="d-flex justify-content-between w-100 ">
                            <h2>Over-all Training Budget</h2>
                            <select class="form-select w-25" aria-label="Default select example">
                                <option selected>2023</option>
                                <option value="1">2022</option>
                                <option value="2">2021</option>
                                <option value="3">2020</option>
                            </select>
                        </div>
                    </div>
                    <div class="body">
                        <div echarts [options]="line_chart" class="echart-height"></div>
                    </div>

                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <div class="d-flex justify-content-between w-100 ">
                            <h2>Number of Participants</h2>
                            <select class="form-select w-25" aria-label="Default select example">
                                <option selected>2023</option>
                                <option value="1">2022</option>
                                <option value="2">2021</option>
                                <option value="3">2020</option>
                            </select>
                        </div>
                    </div>
                    <div class="body" style="height: 425px;">
                        <apx-chart [series]="barChart2Options.series!" [chart]="barChart2Options.chart!"
                            [dataLabels]="barChart2Options.dataLabels!" [plotOptions]="barChart2Options.plotOptions!"
                            [grid]="barChart2Options.grid!" [yaxis]="barChart2Options.yaxis!"
                            [xaxis]="barChart2Options.xaxis!" [fill]="barChart2Options.fill!">
                        </apx-chart>
                    </div>
                </div>
            </div>
        </div> -->

        <div class="row clearfix">
         
            <!-- <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header ">
                        <div class="d-flex justify-content-between w-100 ">
                            <h2>Training Functionality</h2>
                            <select class="form-select w-50 mx-3" aria-label="Default select example">
                                <option selected>Sales vs Finance</option>
                            </select>
                            <select class="form-select w-25" aria-label="Default select example">
                                <option selected>2023</option>
                                <option value="1">2022</option>
                                <option value="2">2021</option>
                                <option value="3">2020</option>
                            </select>
                        </div>
                    </div>
                    <div class="body">
                        <div class="row">
                            <div class="col-lg-4">
                                <ngx-gauge [value]="gaugeValue1" [size]="250" [thick]="20" [type]="guageType1"
                                    foregroundColor="#2773AE" backgroundColor="#ecf0f1">
                                    <ngx-gauge-value>
                                        {{gaugeValue1}} %
                                    </ngx-gauge-value>

                                </ngx-gauge>

                            </div>
                            <div class="col-lg-4">
                                <ngx-gauge [value]="gaugeValue2" [size]="250" [thick]="20" [type]="guageType1"
                                    foregroundColor="#579BB1" backgroundColor="#ecf0f1" style="margin-left: 70px;">
                                    <ngx-gauge-value>
                                        {{gaugeValue2}} %
                                    </ngx-gauge-value>

                                </ngx-gauge>

                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <h6 class="text-center" style="margin-left: 50px;"> Sales</h6>
                                </div>
                                <div class="col-lg-6">
                                    <h6 class="text-center" style="padding-left: 50px;">Finance</h6>
                                </div>
                            </div>
                        </div>


                    </div>

                </div>
            </div> -->
        </div>