<div class="row mt-5">
    <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="card card-statistic-2">
            <div class="clearfix">
                <div class="card-icon-only shadow-primary float-start">
                    <img src="assets/images/banner/approved.png" alt="">
                </div>
                <div class="card-right" (click)="onApprovedClick()" type="button" >
                    <div>
                        <h6  type="button" class="float-end">Approved</h6>
                    </div>
                    <div class="col-green">
                        <h3 type="button" class="font-weight-bold float-end mb-0">10</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="card card-statistic-2">
            <div class="clearfix">
                <div class="card-icon-only shadow-primary float-start">
                    <img src="assets/images/banner/rejected.png" alt="">
                </div>
                <div  (click)="onRejectedClick()" type="button"class="card-right">
                    <div>
                        <h6 type="button"class="float-end">Rejected</h6>
                    </div>
                    <div class="col-green">
                        <h3 class="font-weight-bold float-end mb-0">4</h3>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="card card-statistic-2">
            <div class="clearfix">
                <div class="card-icon-only shadow-primary float-start">
                    <img src="assets/images/banner/pending.png" alt="">
                    <i class="assignment_turned_in float-start"></i>
                </div>
                <div class="card-right" (click)="onPendingClick()" type="button">
                    <div>
                        <h6  class="float-end">Pending</h6>
                    </div>
                    <div class="col-green">
                        <h3 class="font-weight-bold float-end mb-0">10</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 