<div id="mail-nav">
    <button type="button" (click)="compose()" class="btn btn-success waves-effect m-b-15">COMPOSE</button>
    <ul class="" id="mail-folders">
        <li routerLinkActive="active">
            <a *ngIf="adminUrl" routerLink="/email/admin/inbox" title="Inbox" routerLinkActive="active">Inbox
              <span class="badge bg-orange" >{{totalItems}} </span>
            </a>
            <a *ngIf="studentUrl" routerLink="/email/student/inbox" title="Inbox" routerLinkActive="active">Inbox
              <span class="badge bg-orange" >{{totalItems}}</span>
            </a>
          </li>
          <li routerLinkActive="active">
            <a *ngIf="adminUrl" routerLink="/email/admin/sent" title="Sent" routerLinkActive="active">Sent
                <span class="badge bg-orange">{{totalSentItems}}</span>
            </a>
            <a *ngIf="studentUrl" routerLink="/email/student/sent" title="Sent" routerLinkActive="active">Sent
                <span class="badge bg-orange">{{totalSentItems}}</span>
            </a>
          </li>
        <li routerLinkActive="active">
          <a *ngIf="adminUrl" routerLink="/email/admin/draft" title="Draft" routerLinkActive="active">Draft
        </a>
        <a *ngIf="studentUrl" routerLink="/email/student/draft" title="Draft" routerLinkActive="active">Draft
        </a>
  </li>
      <li routerLinkActive="active">
        <a *ngIf="adminUrl" routerLink="/email/admin/bin" title="Bin" routerLinkActive="active">Bin
          <span class="badge bg-orange">{{totalDeletedItems}}</span>
      </a>
      <a *ngIf="studentUrl" routerLink="/email/student/bin" title="Bin" routerLinkActive="active">Bin
          <span class="badge bg-orange">{{totalDeletedItems}}</span>
      </a>
</li>
      <li routerLinkActive="active">
        <a *ngIf="adminUrl" routerLink="/email/admin/important" title="Important" routerLinkActive="active">Important
        </a>
        <a *ngIf="studentUrl" routerLink="/email/student/important" title="Important" routerLinkActive="active">Important
        </a>
      </li>
      <li routerLinkActive="active">
        <a *ngIf="adminUrl" routerLink="/email/admin/starred" title="Starred" routerLinkActive="active">Starred
        </a>
        <a *ngIf="studentUrl" routerLink="/email/student/starred" title="Starred" routerLinkActive="active">Starred
        </a>
      </li>
    </ul>
    <!-- <h5 class="b-b p-10 text-strong">Labels</h5>
    <ul class="" id="mail-labels">
      <li>
        <a href="javascript:;">
          <i class="material-icons col-red">local_offer</i>Family</a>
      </li>
      <li>
        <a href="javascript:;">
          <i class="material-icons col-blue">local_offer</i>Work</a>
      </li>
      <li>
        <a href="javascript:;">
          <i class="material-icons col-orange">local_offer</i>Shop</a>
      </li>
      <li>
        <a href="javascript:;">
          <i class="material-icons col-cyan">local_offer</i>Themeforest</a>
      </li>
      <li>
        <a href="javascript:;">
          <i class="material-icons col-blue-grey">local_offer</i>Google</a>
      </li>
    </ul>
    <h5 class="b-b p-10 text-strong">Online</h5>
    <ul class="online-user" id="online-offline">
      <li>
        <a href="javascript:;">
          <i class="material-icons col-green" title="Online">brightness_1</i>Sachin</a>
      </li>
      <li>
        <a href="javascript:;">
          <i class="material-icons col-indigo" title="Off Line">brightness_1</i>John
          Smith
        </a>
      </li>
      <li>
        <a href="javascript:;">
          <i class="material-icons col-orange" title="Away">brightness_1</i>Askay</a>
      </li>
      <li>
        <a href="javascript:;">
          <i class="material-icons col-indigo" title="Off Line">brightness_1</i>Dhavan</a>
      </li>
      <li>
        <a href="javascript:;">
          <i class="material-icons col-indigo" title="Off Line">brightness_1</i>Lee</a>
      </li>
    </ul> -->
  </div>
