<section class="content">
  <div class="content-block">
    <div class="block-header" *ngFor="let breadscrum of breadscrums">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
      </app-breadcrumb>
    </div>
    <div class="card">
      <div class="header">
        <h2>Security Settings</h2>
      </div>
      <div class="body">
        
        <div class="example-container">
          <label>Username</label>
          <mat-form-field class="example-full-width" appearance="outline">
            <input matInput>
          </mat-form-field>
          <label>Current Password</label>
          <mat-form-field class="example-full-width" appearance="outline">
            <input matInput type="password">
          </mat-form-field>
          <label>New Password</label>
          <mat-form-field class="example-full-width" appearance="outline">
            <input matInput type="password">
          </mat-form-field>
        </div>
     
        <button mat-raised-button color="primary">Save</button>
        
      </div>
    </div>
    <div class="card">
      <div class="header">
        <h2>Account Settings</h2>
      </div>
      <div class="body">
        <div class="row clearfix">
          <div class="col-lg-6 col-md-12">
            <div class="form-group">
              <label>First Name</label>
              <mat-form-field class="example-full-width" appearance="outline">
                <input matInput>
              </mat-form-field>
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="form-group">
              <label>Last Name</label>
              <mat-form-field class="example-full-width" appearance="outline">
                <input matInput>
              </mat-form-field>
            </div>
          </div>
          <div class="col-lg-4 col-md-12">
            <div class="form-group">
              <label>City</label>
              <mat-form-field class="example-full-width" appearance="outline">
                <input matInput>
              </mat-form-field>
            </div>
          </div>
          <div class="col-lg-4 col-md-12">
            <div class="form-group">
              <label>Email</label>
              <mat-form-field class="example-full-width" appearance="outline">
                <input matInput>
              </mat-form-field>
            </div>
          </div>
          <div class="col-lg-4 col-md-12">
            <div class="form-group">
              <label>Country</label>
              <mat-form-field class="example-full-width" appearance="outline">
                <input matInput>
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label>Address</label>
              <mat-form-field class="example-full-width" appearance="outline">
                <textarea matInput></textarea>
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-12">
            <button mat-raised-button color="primary">Save Changes</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
