<section class="content">
  <div class="content-block">
    <div class="block-header" *ngFor="let breadscrum of breadscrums">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
      </app-breadcrumb>
    </div>
    <div class="card">
      <div class="header">
        <h2>Security Settings</h2>
      </div>
      <div class="body">
        <form [formGroup]="stdForm" (ngSubmit)="onSubmit()">
        <div class="example-container">
          
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Username</mat-label>
            <input matInput formControlName="name">
          </mat-form-field>
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Current Password</mat-label>
            <input matInput type="password" formControlName="currentpassword">
          </mat-form-field>
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>New Password</mat-label>
            <input matInput type="password" formControlName="password" [type]="hide ? 'password' : 'text'" required>
            <mat-icon matSuffix (click)="hide = !hide">
              {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </mat-form-field>
        </div>
      
        <button mat-raised-button color="primary">Save</button>
      </form>
      </div>
   
    </div>
    <div class="card">
      <div class="header">
        <h2>Account Settings</h2>
      </div>
      <div class="body">
        <form [formGroup]="stdForm1" (ngSubmit)="onSubmit1()">
        <div class="row clearfix">
          <div class="col-lg-6 col-md-12">
            <div class="form-group">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>First Name</mat-label>
                <input matInput formControlName="name">
              </mat-form-field>
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="form-group">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Last Name</mat-label>
                <input matInput formControlName="last_name">
              </mat-form-field>
            </div>
          </div>
          <div class="col-lg-4 col-md-12">
            <div class="form-group">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>City</mat-label>
                <input matInput formControlName="city_name">
              </mat-form-field>
            </div>
          </div>
          <div class="col-lg-4 col-md-12">
            <div class="form-group">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" [disabled]="isEmailFieldDisabled">
              </mat-form-field>
            </div>
          </div>
          <div class="col-lg-4 col-md-12">
            <div class="form-group">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Country</mat-label>
                <input matInput formControlName="country_name">
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Address</mat-label>
                <textarea matInput formControlName="address"></textarea>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-5">
              <label>Upload</label>
              <div class="file-drop-area">
                <div class="file">
                  <!-- <button mat-raised-button color="primary">Choose file</button> -->
                  <img src="/assets/add-image-icon.svg" />
                  <h5>
                    {{ fileName ? fileName : "Drag and Drop File Here" }}
                  </h5>
                  <input
                    formControlName="avatar"
                    (change)="onFileUpload($event)"
                    class="file-input"
                    type="file"
                  />
                </div>
              </div>
              <!-- <div class="file-drop-area">
                <button mat-raised-button color="primary">Choose file</button>
                <span>{{fileName ? fileName : ' or drag and drop file here' }}</span>
                <input formControlName="avatar" (change)="onFileUpload($event)" class="file-input" type="file">
              </div> -->
            </div>
          </div>
          <div class="col-md-12">
            <button mat-raised-button color="primary">Save Changes</button>
          </div>
        </div>
      </form>
      </div>
    </div>
  </div>
</section>
