<section class="content">
  <div class="content-block">
    <div class="row clearfix mt-5">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="header">
            <div class="d-flex justify-content-between w-100">
                <h2>{{status === 'active' ? 'All Active Courses': 'In-active Courses'}}</h2>
                <button type="button" class="btn btn-outline-danger btn-border-radius"
                  routerLink="/admin/courses/all-courses">Back</button>
              </div>
          </div>
          <div class="body">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="card">
                  <table mat-table [dataSource]="courseData">
                    <!-- Column Definitions -->
                    <ng-container matColumnDef="video">
                      <th mat-header-cell *matHeaderCellDef>
                        <h5 class="font-color">Course Name</h5>
                      </th>
                      <td
                        mat-cell
                        *matCellDef="let row; let i = index"
                        (click)="getDataByClick(row.id)"
                      >
                        <div class="d-flex justify-content-between">
                          <span
                            [ngClass]="
                              this.checkId === row.id
                                ? 'size badge col-green'
                                : 'size '
                            "
                            >{{ row?.title }}</span
                          >

                          <div
                            *ngIf="this.checkId === row.id"
                            class="checkmark checkmark--inverted"
                          >
                            <div class="check"></div>
                          </div>
                        </div>
                      </td>
                    </ng-container>

                    <!-- Header and Rows -->
                    <tr
                      mat-header-row
                      *matHeaderRowDef="displayedColumns1"
                    ></tr>
                    <tr
                      mat-row
                      *matRowDef="let row; columns: displayedColumns1"
                    ></tr>
                  </table>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                <div class="card p-3">
                    <div class="container">
                        <div class="row mx-auto">
                          <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 ">
                            <h5>Course Name</h5>
                          </div>
                          <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                            <h6 class="text-muted">{{sourceData?.title}}</h6>
                          </div>
                          <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                            <h5>Course Code</h5>
                          </div>
                          <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                            <h6 class="text-muted">{{sourceData?.courseCode}}</h6>
                          </div>
                        </div>
                        <div class="row mt-4 mx-auto">
                            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                              <h5>Days</h5>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                              <h6 class="text-muted">{{sourceData?.course_duration_in_days ||0}}</h6>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                              <h5>Hours</h5>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                              <h6 class="text-muted">{{sourceData?.training_hours ||0}}</h6>
                            </div>
                          </div>
                          <div class="row mt-4 mx-auto">
                            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                              <h5>Vendor</h5>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                              <h6 class="text-muted">{{sourceData?.vendor}}</h6>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                              <h5>Status</h5>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                              <h6 [ngClass]="status === 'active' ? 'badge badge-solid-green':'badge badge-solid-red'"><span [ngClass]="status === 'active' ? 'status-dot':'status-red'"></span>{{sourceData?.status}}</h6>
                            </div>
                          </div>
                          <div class="row mt-4 mx-auto">
                            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                              <h5>Main Category</h5>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                              <h6 class="text-muted">{{sourceData?.main_category?.category_name }}</h6>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                              <h5>Sub Category</h5>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                              <h6  class="text-muted">{{sourceData?.sub_category?.category_name}}</h6>
                            </div>
                          </div>
                          <div class="row mt-4 mx-auto">
                            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                              <h5>Start Date</h5>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                              <h6 class="text-muted">{{sourceData?.sessionEndDate | date}}</h6>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                              <h5>End Date</h5>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                              <h6  class="text-muted">{{sourceData?.sessionStartDate | date}}</h6>
                            </div>
                          </div>
                          <div class="d-flex justify-content-between mt-4" *ngIf="button">
                            <button mat-raised-button class="btn-space"  type="button" color="warn" id="cancel" (click)="delete(sourceData.id)">Delete</button>
                            <!-- <button mat-raised-button class="btn-space"  type="button" color="warn" id="cancel" routerLink="/admin/courses/all-courses">Delete</button> -->
                            <button mat-raised-button color="primary" class="btn-right" [routerLink]="['/admin/courses/edit-course/',sourceData.id]">Edit</button>
                          </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
