<section class="content">
    <div class="content-block">
      <div class="block-header" *ngFor="let breadscrum of breadscrums">
        <!-- breadcrumb -->
        <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
        </app-breadcrumb>
      </div>
      <div class="row clearfix">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="card" style="margin: auto; height: fit-content; width: 65%;">
            <div class="header">
              <h2>Create User Group</h2>
            </div>
            <div class="body">
                <!-- <div class="row">
                  <form [formGroup]="userTypeFormGroup">
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                        <label>User Role</label>
                        <mat-form-field class="example-full-width " appearance="outline">
                            <input matInput type="text" formControlName="typeName"
                            class="form-control" placeholder="Enter New User Type"
                            >                                      
                        </mat-form-field>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                        <div class="d-grid gap-3 d-md-flex">
                        <button  mat-raised-button color="warn" [routerLink]="['/admin/users/user-type']"   > All User Role </button>
                        </div>
                      </div>
                      </form>
                </div> -->
                <form [formGroup]="userTypeFormGroup">

                <div class="row">
                  <div class="col">
                    <label>Group</label>
                        <mat-form-field class="example-full-width " appearance="outline">
                            <input matInput type="text" formControlName="typeName"
                            class="form-control" placeholder="Enter New Group"
                            >                                      
                        </mat-form-field>
                  </div>
                </div>
                </form>
                <hr/>
                <div class="float-end">
                    <div class="d-grid gap-3 d-md-flex">
                    <button  mat-raised-button  id="submit"  > Create </button>
                    </div>
                  </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
