#cancel {
    margin-left: 135px;
    // margin-bottom: 20px;
    background: #7e7e80;
    border: 1px solid #fbf7f7;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    color: rgb(246, 238, 238);
    font-weight: 700;
}

#submit {
    margin-left: 150px;
    // margin-bottom: 20px;
    background: #7e7e80;
    border: none;
    font-size: 12px;
    width: 120px;
    height: 40px;
    border-radius: 10px;
    color: #FFF;
    font-weight: 700;
}

.red-text {
    color: red;
  }
  
  .green-text {
    color: green;
  }
  



// .mat-mdc-snack-bar-container {

//     --mdc-snackbar-container-color: #2196f3;
//     --mat-mdc-snack-bar-button-color: #fff;
//     --mdc-snackbar-supporting-text-color: #fff;

// }
