<section class="content">
    <div class="content-block">
        <div class="block-header" *ngFor="let breadscrum of breadscrums">
            <!-- breadcrumb -->
            <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
            </app-breadcrumb>
        </div>
        <div class="row clearfix">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <!-- <h2>Create Course</h2> -->

                    </div>
                    <form [formGroup]="reviewForm" >
                        <div class="body m-4">
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                    <label>Review <span class="mandatory">&nbsp;*</span></label>
                                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                                        <!-- <mat-label>Course Name</mat-label> -->

                                        <input matInput type="text" id="name" formControlName="text"
                                            class="form-control"  required>
                                        <mat-error *ngIf="reviewForm.get('text')?.hasError('required')">
                                            Enter Review
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                               
                            </div>

                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                    <label>Name <span class="mandatory">&nbsp;*</span></label>
                                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                                        <!-- <mat-label>Course Name</mat-label> -->

                                        <input matInput type="text" id="name" formControlName="name"
                                            class="form-control"  required>
                                        <mat-error *ngIf="reviewForm.get('name')?.hasError('required')">
                                            Enter Name
                                        </mat-error>
                                        <!-- <mat-error  *ngIf="reviewForm.get('qualification')?.hasError('minLength') && reviewForm.get('qualification')?.touched">
                                            Enter a valid Qualification
                                           </mat-error> -->
                                           
                                    </mat-form-field>
                                </div>
                                
                            </div>
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                    <label>Qualification <span class="mandatory">&nbsp;*</span></label>
                                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                                        <!-- <mat-label>Course Name</mat-label> -->

                                        <input matInput type="text" id="name" formControlName="qualification"
                                            class="form-control" required>
                                        <mat-error *ngIf="reviewForm.get('qualification')?.hasError('required')">
                                            Enter Qualification
                                        </mat-error>
                                        <mat-error  *ngIf="reviewForm.get('qualification')?.hasError('minLength') && reviewForm.get('qualification')?.touched">
                                            Enter a valid Qualification
                                           </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                    <label>Course Name <span class="mandatory">&nbsp;*</span></label>
                                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                                        <mat-select formControlName="courseName" required >
                                          <mat-option  *ngFor="let item of courseList" [value]="item.id">
                                            {{item.title}}
                                          </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="
                                    reviewForm.get('courseName')?.hasError('required') ||
                                    reviewForm.get('courseName')?.touched
                                    ">
                                    Select Course Name
                                  </mat-error>
                                      </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                    <label>Position <span class="mandatory">&nbsp;*</span></label>
                                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                                        <!-- <mat-label>Course Name</mat-label> -->

                                        <input matInput type="text" id="name" formControlName="position"
                                            class="form-control" required>
                                        <mat-error *ngIf="reviewForm.get('position')?.hasError('required')">
                                            Enter Position
                                        </mat-error>
                                        <mat-error  *ngIf="reviewForm.get('position')?.hasError('minLength') && reviewForm.get('qualification')?.touched">
                                            Enter a valid Position
                                           </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                    <label>Country <span class="mandatory">&nbsp;*</span></label>
                                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                                        <!-- <mat-label>Course Name</mat-label> -->

                                        <input matInput type="text" id="name" formControlName="country"
                                            class="form-control" required>
                                        <mat-error *ngIf="reviewForm.get('country')?.hasError('required')">
                                            Enter Country
                                        </mat-error>
                                        <mat-error  *ngIf="reviewForm.get('country')?.hasError('minLength') && reviewForm.get('qualification')?.touched">
                                            Enter a valid country
                                           </mat-error>
                                    </mat-form-field>
                                </div>
                              </div>
                        </div>
                    </form>
                    <div class="row body">
                        <div class="col-md-8">
                          <button mat-button id="back" (click)="cancel()">Back</button>
                        </div>
                        <div class="col-md-4">
                          <div class="d-grid gap-4 d-md-flex">
                          <button mat-button id="submit" (click)="onSubmitForm()" >{{editUrl? 'Update': 'Create'}}</button>
                   
                          </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</section>