<div class="body overflow-auto" style="cursor: pointer;">
    <div class="responsive_table">
        <ng-container>
            <div class="card m-4">
                <div class="card-body">
                  <h5 class="card-title text-center">Accessibility Module</h5>
                  <div class="row mt-4 items">
                    <div class="col-md-4">
                      <p class="menu"><img src="assets/tick.svg">Dashboard</p>
                    </div>
                    <div class="col-md-4">
                      <p class="menu"><img src="assets/tick.svg">Programs</p>
                    </div>
                    <div class="col-md-4">
                      <p class="menu"><img src="assets/tick.svg">Courses</p>
                    </div>
                  </div>
                  <div class="row mt-4 items">
                    <div class="col-md-4">
                      <p class="menu"><img src="assets/tick.svg">Timetable</p>
                    </div>
                    <div class="col-md-4">
                      <p class="menu"><img src="assets/tick.svg">Survey</p>
                    </div>
                    <div class="col-md-4">
                      <p class="menu"><img src="assets/tick.svg">Finance</p>
                    </div>
                  </div>
                </div>
              </div>
        </ng-container>
    </div>
</div>
