<section class="content" *ngIf="isAdmin">
    <div class="content-block">
      <div class="block-header" *ngFor="let breadscrum of breadscrums">
        <!-- breadcrumb -->
        <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
        </app-breadcrumb>
      </div>
  
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <!-- <mat-icon class="example-tab-icon msr-2">face</mat-icon> -->
        Users Analytics
      </ng-template>
      <div class="row mt-5">
        <div class="col-lg-3 col-md-3 col-sm-12">
            <div class="card card-statistic-2">
              <div class="clearfix">
                <div class="card-icon-only shadow-primary float-start">
                  <img src="assets/images/banner/officer.png" alt="">
                </div>
                <div class="card-right">
                  <div>
                    <h5 class="float-end">Management</h5>
                  </div>
                  <div class="col-green">
                    <h3 class="font-weight-bold float-end mb-0">{{officersCount}}</h3>
                  </div>
                </div>
              </div>
              <div class="card-content msl-4 mb-3">
                <p class="m-b-0 d-flex"><i class="material-icons col-green psr-2">trending_up</i> 05% Higher Then Last
                  Month
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-12">
            <div class="card card-statistic-2">
              <div class="clearfix">
                <div class="card-icon-only shadow-primary float-start">
                  <img src="assets/images/banner/manager.png" alt="">
                </div>
                <div class="card-right">
                  <div>
                    <h5 class="float-end">Total Managers</h5>
                  </div>
                  <div class="col-green">
                    <h3 class="font-weight-bold float-end mb-0">{{count?.instructors}}</h3>
                  </div>
                </div>
              </div>
              <div class="card-content msl-4 mb-3">
                <p class="m-b-0 d-flex"><i class="material-icons col-green psr-2">trending_up</i> 08% Higher Then Last
                  Month
                </p>
              </div>
            </div>
          </div>
        <div class="col-lg-3 col-md-3 col-sm-12">
          <div class="card card-statistic-2">
            <div class="clearfix">
              <div class="card-icon-only shadow-primary float-start">
                <img src="assets/images/banner/New Students.jpg" alt="" style="margin-left: -21px;">
  
              </div>
              <div class="card-right">
                <div>
                  <h5 class="float-end" style="padding-top: 100px;">Total Staff</h5>
                </div>
                <div class="col-green">
                  <h3 class="font-weight-bold float-end mb-0">{{count?.students}}</h3>
                </div>
              </div>
            </div>
            <div class="card-content msl-4 mb-3">
              <p class="m-b-0 d-flex"><i class="material-icons col-green psr-2">trending_up</i> 10% Higher Then Last
                Month
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12">
          <div class="card card-statistic-2">
            <div class="clearfix">
              <div class="card-icon-only shadow-primary float-start">
                <img src="assets/images/banner/online-course.png" alt="">
              </div>
              <div class="card-right">
                <div>
                  <h5 class="float-end" style="margin-top: 100px;">All Courses</h5>
                </div>
                <div class="col-green">
                  <h3 class="font-weight-bold float-end mb-0">{{count?.courses}}</h3>
                </div>
              </div>
            </div>
            <div class="card-content msl-4 mb-3">
              <p class="m-b-0 d-flex"><i class="material-icons col-orange psr-2">trending_down</i> 07% Less Then Last
                Year
              </p>
            </div>
          </div>
        </div>
       
  
      </div>
      <!-- #END# Widgets -->
      <div class="row">
        
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <div class="card" style="border-radius: 31px;">
            <div class="header mt-3">
              <h2>Users</h2>
            </div>
           
            <div class="body" *ngIf="isUsersPie">
              <apx-chart [series]="polarChartOptions.series2!" [chart]="polarChartOptions.chart!"
                [labels]="polarChartOptions.labels!" [title]="polarChartOptions.title!" [theme]="polarChartOptions.theme!"
                [fill]="polarChartOptions.fill!" [yaxis]="polarChartOptions.yaxis!" [stroke]="polarChartOptions.stroke!"
                [legend]="polarChartOptions.legend!" [plotOptions]="polarChartOptions.plotOptions!"
                [colors]="polarChartOptions.colors!"></apx-chart>
            </div>
            <div class="body" *ngIf="isUsersLine">
              <apx-chart [series]="usersLineChartOptions.series!" [chart]="usersLineChartOptions.chart!"
                [xaxis]="usersLineChartOptions.xaxis!" [stroke]="usersLineChartOptions.stroke!"
                [colors]="usersLineChartOptions.colors!" [dataLabels]="usersLineChartOptions.dataLabels!"
                [legend]="usersLineChartOptions.legend!" [markers]="usersLineChartOptions.markers!"
                [grid]="usersLineChartOptions.grid!" [yaxis]="usersLineChartOptions.yaxis!"
                [tooltip]="usersLineChartOptions.tooltip!" [title]="usersLineChartOptions.title!">
              </apx-chart>
  
            </div>
            <div class="body" *ngIf="isUsersBar">
              <apx-chart [series]="usersBarChartOptions.series!" [chart]="usersBarChartOptions.chart!"
                [xaxis]="usersBarChartOptions.xaxis!" [stroke]="usersBarChartOptions.stroke!"
                [colors]="usersBarChartOptions.colors!" [dataLabels]="usersBarChartOptions.dataLabels!"
                [legend]="usersBarChartOptions.legend!" [markers]="usersBarChartOptions.markers!"
                [grid]="usersBarChartOptions.grid!" [yaxis]="usersBarChartOptions.yaxis!"
                [tooltip]="usersBarChartOptions.tooltip!" [title]="usersBarChartOptions.title!">
              </apx-chart>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <div class="card" style="border-radius: 31px;">
              <div class="header mt-3">
                  <h2>Management Availability</h2>
              </div>
            
              <div class="body" *ngIf="isStaffOnlineLine">
                  <apx-chart [series]="staffAvailabilityLineChartOptions.series!"
                      [chart]="staffAvailabilityLineChartOptions.chart!"
                      [xaxis]="staffAvailabilityLineChartOptions.xaxis!"
                      [stroke]="staffAvailabilityLineChartOptions.stroke!"
                      [colors]="staffAvailabilityLineChartOptions.colors!"
                      [dataLabels]="staffAvailabilityLineChartOptions.dataLabels!"
                      [legend]="staffAvailabilityLineChartOptions.legend!"
                      [markers]="staffAvailabilityLineChartOptions.markers!"
                      [grid]="staffAvailabilityLineChartOptions.grid!"
                      [yaxis]="staffAvailabilityLineChartOptions.yaxis!"
                      [tooltip]="staffAvailabilityLineChartOptions.tooltip!"
                      [title]="staffAvailabilityLineChartOptions.title!">
                  </apx-chart>
              </div>
              <div class="body" *ngIf="isStaffOnlinePie">
                  <apx-chart [series]="staffAvailabilityPieChartOptions.series!"
                      [chart]="staffAvailabilityPieChartOptions.chart!"
                      [labels]="staffAvailabilityPieChartOptions.labels!"
                      [colors]="staffAvailabilityPieChartOptions.colors!"
                      [dataLabels]="staffAvailabilityPieChartOptions.dataLabels!"
                      [legend]="staffAvailabilityPieChartOptions.legend!"
                      [tooltip]="staffAvailabilityPieChartOptions.tooltip!">
                  </apx-chart>
              </div>
              <div class="body" *ngIf="isStaffOnlineBar">
                  <apx-chart [series]="staffAvailabilityBarChartOptions.series!"
                      [chart]="staffAvailabilityBarChartOptions.chart!"
                      [xaxis]="staffAvailabilityBarChartOptions.xaxis!"
                      [stroke]="staffAvailabilityBarChartOptions.stroke!"
                      [colors]="staffAvailabilityBarChartOptions.colors!"
                      [dataLabels]="staffAvailabilityBarChartOptions.dataLabels!"
                      [legend]="staffAvailabilityBarChartOptions.legend!"
                      [markers]="staffAvailabilityBarChartOptions.markers!"
                      [grid]="staffAvailabilityBarChartOptions.grid!" 
                      [yaxis]="staffAvailabilityBarChartOptions.yaxis!"
                      [tooltip]="staffAvailabilityBarChartOptions.tooltip!"
                      [title]="staffAvailabilityBarChartOptions.title!">
                  </apx-chart>
              </div>
          </div>
          
      </div>

      </div>
      <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <div class="card" style="border-radius: 31px;">
          <div class="header mt-3">
            <h2>
              Staff Survey</h2>
          </div>
          <div class="body" *ngIf="isArea">
            <apx-chart [series]="areaChartOptions.series!" [chart]="areaChartOptions.chart!"
              [xaxis]="areaChartOptions.xaxis!" [yaxis]="areaChartOptions.yaxis!" [colors]="areaChartOptions.colors!"
              [stroke]="areaChartOptions.stroke!" [legend]="areaChartOptions.legend!" [grid]="areaChartOptions.grid!"
              [tooltip]="areaChartOptions.tooltip!" [dataLabels]="areaChartOptions.dataLabels!"></apx-chart>
          </div>
          <div class="body" *ngIf="isSurveyBar">
            <apx-chart [series]="surveyBarChartOptions.series!" [chart]="surveyBarChartOptions.chart!"
              [xaxis]="surveyBarChartOptions.xaxis!" [yaxis]="surveyBarChartOptions.yaxis!"
              [colors]="surveyBarChartOptions.colors!" [stroke]="surveyBarChartOptions.stroke!"
              [legend]="surveyBarChartOptions.legend!" [grid]="surveyBarChartOptions.grid!"
              [tooltip]="surveyBarChartOptions.tooltip!" [dataLabels]="surveyBarChartOptions.dataLabels!"></apx-chart>
          </div>
          <div class="body" *ngIf="isSurveyPie">
            <apx-chart [series]="surveyPieChartOptions.series!" [chart]="surveyPieChartOptions.chart!"
              [labels]="surveyPieChartOptions.labels!" [legend]="surveyPieChartOptions.legend!"
              [colors]="surveyPieChartOptions.colors!" [responsive]="surveyPieChartOptions.responsive!"></apx-chart>
          </div>

        </div>
      </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
          <div class="card" style="border-radius: 31px; height: 460px;">
            <div class="header mt-3">
              <h2>Management List</h2>
  
            </div>
            <div class="tableBody">
              <div class="table-responsive">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Officer Name</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let instructor of officers" style="cursor: pointer;">
                      <td class="table-img">
                        <img src="{{instructor.avatar || 'assets/profile.png'}}" alt="">
                      </td>
                      <td [routerLink]="[
                      '/admin/user-profile/all-managers',
                      instructor.id
                    ]">
                        <div class="media-title"> {{instructor?.name | titlecase}}
                          </div>
                        <div class="text-job font-11">({{instructor?.type}})</div>
                      </td>
                      <td [routerLink]="[
                      '/admin/user-profile/all-managers',
                      instructor.id
                    ]">
                        <div [class]="instructor?.Active ? 'badge badge-solid-green' : 'badge badge-solid-red'">
                          {{instructor?.Active == true?"Active":"Inactive"}}</div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

     
  
        
      </div>
    
  
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <!-- <mat-icon class="example-tab-icon msr-2">face</mat-icon> -->
        Budget
      </ng-template>
      <app-etms-dashboard></app-etms-dashboard>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <!-- <mat-icon class="example-tab-icon msr-2">face</mat-icon> -->
        Transaction Analytics
      </ng-template>
      <app-dashboard2></app-dashboard2>
    </mat-tab>
    
   
   
  </mat-tab-group>
  
    </div>
  </section>
  
 