.height {
    height: 33px;
  }
  .form-select {
    width: fit-content;
  }
  
  .approved {
    color: rgb(19, 199, 19);
  }
  
  .rejected {
    color: red;
  }
  
  .pending {
    color: #1d62ed;
  }
  svg {
    position: absolute;
    fill: #000;
    background-color: #d3cdcd;
    margin-top: -15px;
    margin-left: -15px;
    border-radius: 10px;
    padding-left: 3px;
    padding-right: 3px;
  } 
  .approval-stages-cell {
    display: flex;
    flex-direction: column;
  }
  .approval-stage {
    min-height: 20px;
  }
  .approval-reason{
    min-height: 50px;
  }