<section class="content">
  <div class="content-block">
    <div class="block-header" *ngFor="let breadscrum of breadscrums">
      <!-- breadcrumb -->
      <app-breadcrumb
        [title]="breadscrum.title"
        [active_item]="breadscrum.active"
      >
      </app-breadcrumb>
    </div>
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="header">
            <h2>View Request</h2>
          </div>
          <div class="body">
            <!-- Add content here -->
            <div class="row g-2">
              <div class="col-6">
                <div class="bg-body-secondary p-3 rounded-3">
                  <div
                    class="d-flex flex-wrap align-items-center justify-content-between"
                  >
                    <div>
                      <h5 class="text-muted mb-0">User Name</h5>
                      <h6 class="mb-0">{{ userName }}</h6>
                    </div>
                    <div>
                      <h5 class="text-muted mb-0">Email</h5>
                      <h6 class="mb-0">{{ email }}</h6>
                    </div>
                  </div>
                  <hr />
                  <div
                    class="d-flex flex-wrap align-items-center justify-content-between mt-4"
                  >
                    <div>
                      <h5 class="text-muted mb-0">Course Name</h5>
                      <h6 class="mb-0">{{ courseName }}</h6>
                    </div>

                    <div>
                      <h5 class="text-muted mb-0">Course Cost</h5>
                      <h6 class="mb-0">${{ courseCost }}</h6>
                    </div>
                  </div>
                  <hr />
                  <div class="d-flex flex-wrap justify-content-between mt-4">
                    <div>
                      <h5 class="text-muted mb-0">Course TimeLine</h5>
                      <h6 class="mb-0">{{ coursetimeline }}</h6>
                    </div>

                    <div>
                      <h5 class="text-muted mb-0">Department</h5>
                      <h6 class="mb-0">{{ departmentName }}</h6>
                    </div>
                  </div>
                  <hr />
                  <div class="d-flex flex-wrap justify-content-between mt-4">
                    <div>
                      <h5 class="text-muted mb-0">Designation</h5>
                      <h6 class="mb-0">{{ designationName }}</h6>
                    </div>
                  </div>
                  <hr />
                </div>
                <div class="mt-2">
                  <button
                    class="btn btn-primary w-100"
                    routerLink="/admin/e-tms/all-requests"
                  >
                    Back to all request
                  </button>
                </div>
              </div>
              <div class="col-6">
                <div class="p-3 bg-danger-subtle rounded-3">
                  <div class="d-flex justify-content-between">
                    <div>
                      <h5 class="text-muted mb-0">Employee Name</h5>
                      <h6 class="mb-0">{{ employeeName }}</h6>
                    </div>
                    <div>
                      <h5 class="text-muted mb-0">Vendor Name</h5>
                      <h6 class="mb-0">{{ vendorName }}</h6>
                    </div>
                  </div>
                  <hr />
                  <div class="d-flex justify-content-between mt-4">
                    <div>
                      <h5 class="text-muted mb-0">RO Name</h5>
                      <h6 class="mb-0">{{ roName }}</h6>
                    </div>
                    <div>
                      <h5 class="text-muted mb-0">RO Approval</h5>
                      <h6
                        [ngClass]="roApproval === 'Approved'
                            ? ' badge badge-solid-green'
                            : roApproval === 'Rejected'
                            ? 'badge badge-solid-red'
                            : roApproval === 'Pending'? 'badge badge-solid-orange':''
                        "
                      >
                        {{ roApproval }}
                      </h6>
                    </div>
                  </div>
                  <hr />
                  <div class="d-flex justify-content-between mt-3">
                    <div>
                      <h5 class="text-muted mb-0">Director Name</h5>
                      <h6 class="mb-0">{{ directorName }}</h6>
                    </div>
                    <div>
                      <h5 class="text-muted mb-0">DirectorApproval</h5>
                      <h6
                        [ngClass]="
                          directorApproval === 'Approved'
                            ? ' badge badge-solid-green'
                            : directorApproval === 'Rejected'
                            ? 'badge badge-solid-red'
                            : directorApproval === 'Pending'? 'badge badge-solid-orange':''
                        "
                      >
                        {{ directorApproval }}
                      </h6>
                    </div>
                  </div>    

                  <hr />
                  <div class="d-flex justify-content-between mt-4">
                    <div>
                      <h5 class="text-muted mb-0">Training Admin Name</h5>
                      <h6 class="mb-0">{{ trainingadminName }}</h6>
                    </div>
                    <div>
                      <h5 class="text-muted mb-0">TrainingAdmin Approval</h5>
                      <h6
                        [ngClass]="
                           trainingadminApproval === 'Approved'
                            ? ' badge badge-solid-green'
                            : trainingadminApproval === 'Rejected'
                            ? 'badge badge-solid-red'
                            : trainingadminApproval === 'Pending'? 'badge badge-solid-orange':''
                        "
                      >
                        {{ trainingadminApproval }}
                      </h6>
                    </div>
                  </div>
                  <hr />
                  <div class="d-flex justify-content-between mt-4">
                    <div *ngIf="TAreasons">
                      <h5 class="text-muted mb-0">Training Admin Reason</h5>
                      <h6 class="mb-0">{{ TAreasons }}</h6>
                    </div>
                    <!-- roReason -->
                    <div *ngIf="RoReason">
                      <h5 class="text-muted mb-0">RO Reason</h5>
                      <h6 class="mb-0">{{ RoReason }}</h6>
                    </div>

                    <!-- directorReason -->
                    <div *ngIf="directorReason">
                      <h5 class="text-muted mb-0">Director Reason</h5>
                      <h6 class="mb-0">{{ directorReason }}</h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
