<div class="body overflow-auto" style="cursor: pointer;">
    <div class="responsive_table">
        <ng-container>
            <div class="card m-4">
                <div class="card-body">
                    <h1 mat-dialog-title>Select Payment Option</h1>
                    <div mat-dialog-content>
                      <button mat-button (click)="selectPayment('card')">Card Payment</button>
                      <button mat-button (click)="selectPayment('other')">Other Payment</button>
                    </div>
                    
              </div>
              
              </div>
        </ng-container>
    </div>
</div>
