<section class="content">
    <div class="content-block">
      <div class="block-header" *ngFor="let breadscrum of breadscrums">
        <!-- breadcrumb -->
        <app-breadcrumb
          [title]="breadscrum.title"
          [active_item]="breadscrum.active"
        >
        </app-breadcrumb>
      </div>
      <div class="row clearfix">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="card">
            <div class="header">
              <h2 class="text-center">Create Training Plan</h2>
            </div>
            <form>
            <div class="body">
              <div class="row">
                <!-- Budget -->
                <div class="col-lg-6">
                  <label>Course Name </label>
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <input matInput  required>
                  </mat-form-field>
                </div>
                
                <div class="col-lg-6">
                  <!-- Percentage -->
                  <label>Training Level</label>
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-select  required>
                      <mat-option [value]="1">
                      Beginner
                      </mat-option>
                      <mat-option [value]="2">
                       Intermediate
                      </mat-option>
                      <mat-option [value]="3">
                        Advanced
                        </mat-option>
                    </mat-select>
                    <!-- <mat-error *ngIf="courseForm.get('pName')?.hasError('required')">
                      Select any professor
                    </mat-error> -->
                  </mat-form-field>
                </div>
              
              </div>
              <div class="row">
                  <div class="col-lg-6">
                    <label>Training Cost</label>
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <input matInput  required>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-6">
                    <label>Date</label>
                    <input type="date" id="date"
                    class="form-control" />
                </div>
                
              </div>
              <div class="d-flex justify-content-between">
                <button class="btn btn-outline-primary" routerLink="/admin/e-tms/department-training-plan"><span class="btn-txt">Cancel</span></button>
                <button class="btn btn-outline-primary"><span class=" btn-txt">Submit</span></button>
              </div>
            </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  