<section class="content">
    <div class="content-block">
        <div class="block-header" *ngFor="let breadscrum of breadscrums">
            <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
            </app-breadcrumb>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12">
                <div class="card card-statistic-2">
                    <div class="clearfix">
                        <div class="card-icon-only shadow-primary float-start">
                            <img src="assets/images/banner/New Students.jpg" alt="" style="margin-left: -21px;">

                        </div>
                        <div class="card-right">
                            <div>
                                <h5 class="float-end">Total Students</h5>
                            </div>
                            <div class="col-green">
                                <h3 class="font-weight-bold float-end mb-0">{{count?.students}}</h3>
                            </div>
                        </div>
                    </div>
                    <div class="card-content msl-4 mb-3">
                        <p class="m-b-0 d-flex"><i class="material-icons col-green psr-2">trending_up</i> 10% Higher
                            Then Last Month
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
                <div class="card card-statistic-2">
                    <div class="clearfix">
                        <div class="card-icon-only shadow-primary float-start">
                            <img src="assets/images/banner/online-course.png" alt="">
                        </div>
                        <div class="card-right">
                            <div>
                                <h5 class="float-end" style="margin-top: 100px;">All Courses</h5>
                            </div>
                            <div class="col-green">
                                <h3 class="font-weight-bold float-end mb-0">{{count?.courses}}</h3>
                            </div>
                        </div>
                    </div>
                    <div class="card-content msl-4 mb-3">
                        <p class="m-b-0 d-flex"><i class="material-icons col-orange psr-2">trending_down</i> 07% Less
                            Then Last
                            Year
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
                <div class="card card-statistic-2">
                    <div class="clearfix">
                        <div class="card-icon-only shadow-primary float-start">
                            <img src="https://www.einfosoft.com/templates/admin/smartangular/source/light/assets/images/banner/img4.png "
                                alt="">
                        </div>
                        <div class="card-right">
                            <div>
                                <h5 class="float-end">All Payments</h5>
                            </div>
                            <div class="col-green">
                                <h3 class="font-weight-bold float-end mb-0">$358</h3>
                            </div>
                        </div>
                    </div>
                    <div class="card-content msl-4 mb-3">
                        <p class="m-b-0 d-flex"><i class="material-icons col-green psr-2">trending_up</i> 05% Higher
                            Then Last Month
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
                <div class="card card-statistic-2">
                    <div class="clearfix">
                        <div class="card-icon-only shadow-primary float-start">
                            <img src="assets/images/banner/img3.png" alt="">
                        </div>
                        <div class="card-right">
                            <div>
                                <h5 class="float-end">Total Instructors</h5>
                            </div>
                            <div class="col-green">
                                <h3 class="font-weight-bold float-end mb-0">{{count?.instructors}}</h3>
                            </div>
                        </div>
                    </div>
                    <div class="card-content msl-4 mb-3">
                        <p class="m-b-0 d-flex"><i class="material-icons col-green psr-2">trending_up</i> 08% Higher
                            Then Last Month
                        </p>
                    </div>
                </div>
            </div>

        </div>
        <!-- #END# Widgets -->
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <div class="card" style="border-radius: 31px;">
                    <div class="header mt-3">
                        <h2>
                            Students Survey</h2>
                    </div>
                    <div class="body">
                        <apx-chart [series]="areaChartOptions.series!" [chart]="areaChartOptions.chart!"
                            [xaxis]="areaChartOptions.xaxis!" [yaxis]="areaChartOptions.yaxis!"
                            [colors]="areaChartOptions.colors!" [stroke]="areaChartOptions.stroke!"
                            [legend]="areaChartOptions.legend!" [grid]="areaChartOptions.grid!"
                            [tooltip]="areaChartOptions.tooltip!"
                            [dataLabels]="areaChartOptions.dataLabels!"></apx-chart>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <div class="card" style="border-radius: 31px;">
                    <div class="header mt-3">
                        <h2>Student Performance Chart</h2>

                    </div>
                    <div class="body">
                        <apx-chart [series]="barChartOptions.series!" [chart]="barChartOptions.chart!"
                            [dataLabels]="barChartOptions.dataLabels!" [plotOptions]="barChartOptions.plotOptions!"
                            [grid]="barChartOptions.grid!" [yaxis]="barChartOptions.yaxis!"
                            [xaxis]="barChartOptions.xaxis!" [fill]="barChartOptions.fill!">
                        </apx-chart>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                <div class="plain-card">
                    <div class="card-inner">
                        <h6 class="tx-primary m-b-15">New Admission Report</h6>
                        <div class="row mb-2">
                            <div class="col-4">
                                <label class="font-14">Today</label>
                                <h5>0<i class="material-icons col-orange">trending_down</i>
                                </h5>
                            </div>
                            <div class="col-4">
                                <label class="font-14">This Week</label>
                                <h5>0<i class="material-icons col-green">trending_up</i></h5>
                            </div>
                            <div class="col-4">
                                <label class="font-14">This Month</label>
                                <h5>{{oneMonthAgoInstructors?.length}}<i
                                        class="material-icons col-green">trending_up</i></h5>
                            </div>
                        </div>
                        <div class="progress shadow-style mb-2 mt-3">
                            <div class="progress-bar l-bg-green width-per-70" role="progressbar" aria-valuenow="70"
                                aria-valuemin="0" aria-valuemax="100">70%</div>
                        </div>
                    </div>
                </div>
                <div class="plain-card mt-4">
                    <div class="card-inner">
                        <h6 class="tx-primary m-b-15">Fees Collection Report</h6>
                        <div class="row mb-2">
                            <div class="col-4">
                                <label class="font-14">Today</label>
                                <h5>$107<i class="material-icons col-orange">trending_down</i></h5>
                            </div>
                            <div class="col-4">
                                <label class="font-14">This Week</label>
                                <h5>$268<i class="material-icons col-green">trending_up</i></h5>
                            </div>
                            <div class="col-4">
                                <label class="font-14">This Month</label>
                                <h5>$847<i class="material-icons col-orange">trending_down</i></h5>
                            </div>
                        </div>
                        <div class="progress shadow-style mb-2 mt-3">
                            <div class="progress-bar l-bg-red width-per-50" role="progressbar" aria-valuenow="50"
                                aria-valuemin="0" aria-valuemax="100">50%</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- area chart -->
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                <div class="card" style="border-radius: 31px;">
                    <div class="header mt-3">
                        <h2>Classes List</h2>

                    </div>
                    <div class="tableBody">
                        <div class="table-responsive">
                            <table class="table table-hover ">
                                <thead>
                                    <tr>
                                        <!-- <th>#</th> -->
                                        <th>Course Name</th>
                                        <th>Start Date</th>
                                        <th>End Date</th>
                                        <th>Status </th>
                                        <th>Actions </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let class of classesList ">

                                        <td>{{class?.courseId?.title | truncate:10}}</td>
                                        <td> {{class?.sessions[0]?.sessionStartDate | date}} </td>
                                        <td> {{class?.sessions[0]?.sessionEndDate | date}}</td>
                                        <td>
                                            <div class="badge col-green">{{class?.status == 'open'?'Active':'Inactive'}}
                                            </div>
                                        </td>
                                        <td>
                                            <button mat-button [matMenuTriggerFor]="menu">
                                                <svg class="dropdown-toggle" data-bs-toggle="dropdown"
                                                    aria-expanded="false" xmlns="http://www.w3.org/2000/svg" width="25"
                                                    height="25" fill="currentColor"
                                                    class="bi bi-three-dots rounded-circle" viewBox="0 0 16 16">
                                                    <path
                                                        d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z" />
                                                </svg>

                                            </button>

                                            <mat-menu #menu="matMenu" xPosition="before">
                                                <button mat-menu-item class="tbl-action-btn"
                                                    (click)="editClass(class.id)">
                                                    <app-feather-icons [icon]="'edit'"
                                                        [class]="'tbl-fav-edit'"></app-feather-icons>
                                                    <span class="menu-text">Edit</span>
                                                </button>
                                                <button mat-menu-item class="tbl-action-btn" (click)="delete(class.id)">
                                                    <app-feather-icons [icon]="'trash-2'"
                                                        [class]="'tbl-fav-delete'"></app-feather-icons>
                                                    <span class="menu-text">Delete</span>
                                                </button>
                                            </mat-menu>

                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="header mt-3">
                        <h2>Instructors List</h2>
                        <!-- <button mat-icon-button [matMenuTriggerFor]="menu" class="header-dropdown">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item>
                      <mat-icon>add_circle_outline</mat-icon>
                      <span>Add</span>
                    </button>
                    <button mat-menu-item disabled>
                      <mat-icon>delete_outline</mat-icon>
                      <span>Delete</span>
                    </button>
                    <button mat-menu-item>
                      <mat-icon>refresh</mat-icon>
                      <span>Refresh</span>
                    </button>
                  </mat-menu> -->
                    </div>
                    <div class="tableBody">
                        <div class="table-responsive">
                            <table class="table display product-overview mb-30" id="support_table">
                                <thead>
                                    <tr>
                                        <th>Img</th>
                                        <th>Instructors Name</th>
                                        <th>Department</th>
                                        <th>Gender</th>
                                        <th>Degree</th>
                                        <th>Email</th>
                                        <th>Mobile</th>
                                        <th>Joining Date</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let instructor of instructors">
                                        <td class="table-img">
                                            <img src="{{instructor?.avatar}}" alt="">
                                        </td>
                                        <td>{{instructor?.name}}</td>
                                        <td>
                                            <div class="badge col-green">{{instructor?.department}}</div>
                                        </td>
                                        <td>{{instructor?.gender}}</td>
                                        <td>{{instructor?.qualification}}</td>
                                        <td>{{instructor?.email}}</td>
                                        <td>{{instructor?.mobile}}</td>
                                        <td>{{instructor?.joiningDate | date}}</td>
                                        <td>
                                            <button mat-button [matMenuTriggerFor]="menu">
                                                <svg class="dropdown-toggle" data-bs-toggle="dropdown"
                                                    aria-expanded="false" xmlns="http://www.w3.org/2000/svg" width="25"
                                                    height="25" fill="currentColor"
                                                    class="bi bi-three-dots rounded-circle" viewBox="0 0 16 16">
                                                    <path
                                                        d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z" />
                                                </svg>

                                            </button>

                                            <mat-menu #menu="matMenu" xPosition="before">
                                                <button mat-menu-item class="tbl-action-btn"
                                                    [routerLink]="['/admin/teachers/edit-teacher',instructor.id]">
                                                    <app-feather-icons [icon]="'edit'"
                                                        [class]="'tbl-fav-edit'"></app-feather-icons>
                                                    <span class="menu-text">Edit</span>
                                                </button>
                                                <button mat-menu-item class="tbl-action-btn"
                                                    (click)="deleteItem(instructor)">
                                                    <app-feather-icons [icon]="'trash-2'"
                                                        [class]="'tbl-fav-delete'"></app-feather-icons>
                                                    <span class="menu-text">Delete</span>
                                                </button>
                                            </mat-menu>
                                        </td>
                                    </tr>


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="card" style="border-radius: 31px;">
                    <div class="header mt-3">
                        <h2>New Student List</h2>

                    </div>
                    <div class="tableBody">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Student Name</th>
                                        <th>Qualification</th>
                                        <th>Date Of Joining</th>
                                        <th>Mobile</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let student of students">
                                        <td class="table-img">
                                            <img src="{{student?.avatar}}" alt="">
                                        </td>
                                        <td>{{student?.name}}</td>
                                        <td>{{student?.qualification}}</td>
                                        <td>{{student?.createdAt | date}}</td>
                                        <td>
                                            {{student?.mobile}}
                                            <!-- <i class="far fa-file-pdf tbl-pdf"></i> -->
                                        </td>
                                        <td>
                                            <button mat-button [matMenuTriggerFor]="menu">
                                                <svg class="dropdown-toggle" data-bs-toggle="dropdown"
                                                    aria-expanded="false" xmlns="http://www.w3.org/2000/svg" width="25"
                                                    height="25" fill="currentColor"
                                                    class="bi bi-three-dots rounded-circle" viewBox="0 0 16 16">
                                                    <path
                                                        d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z" />
                                                </svg>

                                            </button>

                                            <mat-menu #menu="matMenu" xPosition="before">
                                                <button mat-menu-item class="tbl-action-btn"
                                                    (click)="editCall(student)">
                                                    <app-feather-icons [icon]="'edit'"
                                                        [class]="'tbl-fav-edit'"></app-feather-icons>
                                                    <span class="menu-text">Edit</span>
                                                </button>
                                                <button mat-menu-item class="tbl-action-btn"
                                                    (click)="deleteStudent(student)">
                                                    <app-feather-icons [icon]="'trash-2'"
                                                        [class]="'tbl-fav-delete'"></app-feather-icons>
                                                    <span class="menu-text">Delete</span>
                                                </button>
                                            </mat-menu>

                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" style="width: 100%;">
            <div class="card">
              <div class="header mt-3">
                <h2>Upcoming Courses</h2>
                <!-- <button mat-icon-button [matMenuTriggerFor]="menu" class="header-dropdown">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item>
                    <mat-icon>add_circle_outline</mat-icon>
                    <span>Add</span>
                  </button>
                  <button mat-menu-item disabled>
                    <mat-icon>delete_outline</mat-icon>
                    <span>Delete</span>
                  </button>
                  <button mat-menu-item>
                    <mat-icon>refresh</mat-icon>
                    <span>Refresh</span>
                  </button>
                </mat-menu> -->
              </div>
              <div class="body">
                <div class="card-block">
                  <div  *ngFor="let data of upcomingCourses" class="row m-b-20">
                    <div class="col-auto p-r-0">
                      <img  src="{{data.image_link}}" alt="user image" class="latest-posts-img">
                    </div>
                    <div class="col">
                      <h6>{{data.title |truncate : 25}}</h6>
                      <div class="row">
                      <div class="col">
                          <b>{{ data.training_hours}} Hours</b>
                      </div>
                      <div class="col">
                          <b>{{data.course_duration_in_days}}</b>
                      </div>
                      <div class="col">
                        <b  style="color: blue;">
                          <i class="fa fa-play-circle-o"></i> {{data.sessionStartDate | date}}</b>
                      </div>
                      </div>
    
                     
                    </div>
                  </div>
               
                  <div class="text-center">
                    <button mat-stroked-button [routerLink]="['/admin/courses/all-courses']" color="primary">View More</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <!-- <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" style="width: 100%;">
            <div class="card">
                <div class="header mt-3">
                    <h2>Upcoming Courses</h2>
                    <!-- <button mat-icon-button [matMenuTriggerFor]="menu" class="header-dropdown">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item>
                    <mat-icon>add_circle_outline</mat-icon>
                    <span>Add</span>
                  </button>
                  <button mat-menu-item disabled>
                    <mat-icon>delete_outline</mat-icon>
                    <span>Delete</span>
                  </button>
                  <button mat-menu-item>
                    <mat-icon>refresh</mat-icon>
                    <span>Refresh</span>
                  </button>
                </mat-menu> --
                </div>
                <div class="body">
                    <div class="card-block">
                        <div *ngFor="let data of courseData" class="row m-b-20">
                            <div class="col-3">

                                <img class="img" src="{{data.image_link}}">

                                <!-- <img src="{{program?.image_link}}" alt="user image" class="latest-posts-img"> --
                            </div>
                            <div class="col-4 mt-5 mx-4">
                                <h6>{{data.title |truncate : 25}}</h6>
                            </div>
                                <!-- <div class="row"> --
                                    <div class="col-3 mt-5">
                                        <b>{{ data.training_hours}} Hours</b>
                                    </div>
                                    <!-- <div class="col">
                          <b>{{ program?.duration }} Hours</b>
                      </div>
                      <div class="col">
                          <b>{{ program?.courseFee }}$</b>
                      </div>
                      <div class="col" [class]="program?.Active ? 'badge badge-solid-red' : 'badge badge-solid-green'">
                          <b>{{ program?.deliveryMode | titlecase }}</b>
                      </div>
                      <div class="col">
                        <b  style="color: blue;">
                          <i class="fa fa-play-circle-o"></i> {{program?.sessionStartDate | date}}</b>
                      </div> -->
                                <!-- </div> -->


                            <!-- </div> --
                    </div>

                        <div class="text-center">
                            <button mat-stroked-button [routerLink]="['/admin/program/program-list']"
                                color="primary">View More</button>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</section>